<%= link_to '-', post_votes_url(post, :vote_down => true), :method => :post, :remote => true %>

      <div id=<%= "rate_for+#{post.id}"%>>
        <%= post.rate %></div>

<%= link_to '+', post_votes_url(post, :vote_up => true), :method => :post, :remote => true %>
